## Import libraries

In [2]:
from sqlalchemy import create_engine
import pandas as pd

## Create a connection to the database

In [23]:
db_path = '../data/raw_data_project_m1.db'

engine = create_engine(f'sqlite:///{db_path}')

#### **List of tables contained in the database**

In [4]:
show_tables = """SELECT name FROM sqlite_master WHERE type='table'"""

In [5]:
SQL_Query = pd.read_sql_query(show_tables, engine)

In [29]:
query_full = """SELECT * FROM country_info
LEFT JOIN personal_info ON country_info.uuid = personal_info.uuid
LEFT JOIN career_info ON country_info.uuid = career_info.uuid
LEFT JOIN poll_info ON country_info.uuid = poll_info.uuid"""

SQL_Query2 = pd.read_sql_query(query_full, engine)

<class 'sqlalchemy.engine.base.Engine'>

In [25]:
tables = pd.DataFrame(SQL_Query)

In [7]:
tables

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [26]:
df_full = pd.DataFrame(SQL_Query2)

In [27]:
df_full = df_full.loc[:,~df_full.columns.duplicated()]
df_full

,uuid,country_code,rural,age,gender,dem_has_children,age_group,dem_education_level,dem_full_time_job,normalized_job_code,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,61 years old,male,NO,40_65,no,no,None,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,57 years old,male,yES,40_65,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,32 years old,male,nO,26_39,None,no,None,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,45 years old,Male,YES,40_65,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,41 years old,Fem,yES,40_65,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,SK,urban,37 years old,FeMale,nO,26_39,high,yes,847165cfda6b1dc82ae22b967da8af2f,I understand it fully,I would probably vote for it,‰Û_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,SK,urban,53 years old,Male,yES,40_65,high,yes,a4d5b8b38f9513825d0d94a981ebe962,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,SK,Non-Rural,1992,male,NO,juvenile,low,no,None,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,SK,city,47 years old,male,yES,40_65,low,yes,775190277a849cba701b306a7b374c0a,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,SK,city,51 years old,FeMale,YES,40_65,high,yes,8a7a3f1bce0958ae9f090683e5a925b7,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

#### **Assign a dataframe for each table and check type of data**

In [8]:
personal_info_query = 'SELECT * FROM personal_info'

personal_info_df = pd.DataFrame(pd.read_sql_query(personal_info_query, engine))

personal_info_df.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [9]:
country_info_query = 'SELECT * FROM country_info'

country_info_df = pd.DataFrame(pd.read_sql_query(country_info_query, engine))

country_info_df.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [10]:
career_info_query = 'SELECT * FROM career_info'

career_info_df = pd.DataFrame(pd.read_sql_query(career_info_query, engine))

career_info_df.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [11]:
poll_info_query = 'SELECT * FROM poll_info'

poll_info_df = pd.DataFrame(pd.read_sql_query(poll_info_query, engine))

poll_info_df.head()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

## Data Cleaning

First, check some information about our dataframe:

In [12]:
country_info_df.describe()

                                        uuid country_code  rural
count                                   9649         9649   9649
unique                                  9649           28      6
top     832e9090-d91e-0133-2afe-0a81e8b09a82           DE  urban
freq                                       1         1420   3842

And check if there are null values and how many:

In [13]:
country_info_df['rural'].isnull().sum()

0

Then check how many unique values there are in the column 'rural', that is one of the columns that shall appear in final dataframe.

In [14]:
country_info_df['rural'].unique()

array(['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural'],
      dtype=object)

In [15]:
country_info_df['country_code'].unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'PL', 'PT', 'RO', 'SE', 'SI', 'SK'], dtype=object)