## Import libraries

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

## Create a connection to the database

In [11]:
db_path = 'sqlite:///../data/raw_data_project_m1.db'

engine = create_engine(db_path)

#### **List of tables contained in the database**

In [20]:
show_tables = """SELECT name FROM sqlite_master WHERE type='table'"""

In [21]:
SQL_Query = pd.read_sql_query(show_tables, engine)

In [25]:
tables = pd.DataFrame(SQL_Query)

In [26]:
tables

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

#### **Assign a dataframe for each table and check type of data**

In [27]:
personal_info_query = 'SELECT * FROM personal_info'

personal_info_df = pd.DataFrame(pd.read_sql_query(personal_info_query, engine))

personal_info_df.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [28]:
country_info_query = 'SELECT * FROM country_info'

country_info_df = pd.DataFrame(pd.read_sql_query(country_info_query, engine))

country_info_df.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [29]:
career_info_query = 'SELECT * FROM career_info'

career_info_df = pd.DataFrame(pd.read_sql_query(career_info_query, engine))

career_info_df.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [30]:
poll_info_query = 'SELECT * FROM poll_info'

poll_info_df = pd.DataFrame(pd.read_sql_query(poll_info_query, engine))

poll_info_df.head()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

## Data Cleaning

First, check some information about our dataframe:

In [37]:
country_info_df.describe()

                                        uuid country_code  rural
count                                   9649         9649   9649
unique                                  9649           28      6
top     ed7e4bd0-d987-0133-3f9e-0a81e8b09a82           DE  urban
freq                                       1         1420   3842

And check if there are null values and how many:

In [38]:
country_info_df['rural'].isnull().sum()

0

Then check how many unique values there are in the column 'rural', that is one of the columns that shall appear in final dataframe.

In [39]:
country_info_df['rural'].unique()

array(['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural'],
      dtype=object)