In [1]:
import pandas as pd

In [3]:
dataframe = pd.read_csv('../data/raw/df_processed.csv')

In [4]:
dataframe

       Country                          Job Title      Rural
0      Austria                      Not job found      Rural
1      Austria  Automatic Data Processing Planner  Non-rural
2      Austria                      Not job found  Non-rural
3      Austria                   Data Coordinator      Rural
4      Austria                 Database Developer  Non-rural
...        ...                                ...        ...
9644  Slovakia           Data Warehouse Developer  Non-rural
9645  Slovakia                   Database Manager  Non-rural
9646  Slovakia                      Not job found  Non-rural
9647  Slovakia                       Data Officer  Non-rural
9648  Slovakia                     Data Scientist  Non-rural

[9649 rows x 3 columns]